<!doctype html>
<html class="no-js" lang="en" ng-app="app">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bruce McElroy | Pittsburgh, PA | visualbam</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./public/styles.css">
</head>

<body>

    <!--<div class="navbar-fixed-top">-->
    <nav class="navbar navbar-default" ng-controller="NavBarCtrl as vm">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#/"><img src="./public/img/logo_2x.png" alt="Visualbam "></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li ng-class="{ active: vm.isActive('/') }" ng-click="vm.toggleNav()">
                        <a href="#/">Home</a>
                    </li>
                    <li ng-class="{ active: vm.isActive('/portfolio') }" ng-click="vm.toggleNav()">
                        <a href="#/portfolio">Portfolio</a>
                    </li>
                    <li ng-class="{ active: vm.isActive('/resume') }" ng-click="vm.toggleNav()">
                        <a href="#/resume">Resume</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <!--</div>-->

    <main>
        <div class="container">
            <div ng-view></div>
        </div>
    </main>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <div class="footer-left">
                        <a href="#/"><img src="./public/img/logo_2x.png" alt="Visualbam "></a>
                        <ul class="footer-nav">
                            <li ng-class="{ active: vm.isActive('/') }" onclick="window.scrollTo(0, 0);" onclick="window.scrollTo(0, 0);" ng-click="vm.toggleNav()">
                                <a href="#/">Home</a>
                            </li>
                            <li ng-class="{ active: vm.isActive('/portfolio') }" onclick="window.scrollTo(0, 0);" ng-click="vm.toggleNav()">
                                <a href="#/portfolio">Portfolio</a>
                            </li>
                            <li ng-class="{ active: vm.isActive('/resume') }" onclick="window.scrollTo(0, 0);" ng-click="vm.toggleNav()">
                                <a href="#/resume">Resume</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 footer-right">
                    <p class="copyright">Bruce Aaron McElroy &copy; 2016</p>
                    <ul class="social">
                        <li role="presentation">
                            <a href="https://www.facebook.com/bruce.a.mcelroy" target="_blank"><i class="fa fa-facebook-square"></i></a>
                        </li>
                        <li role="presentation">
                            <a href="https://www.linkedin.com/in/brucemcelroy" target="_blank"><i class="fa fa-linkedin-square"></i></a>
                        </li>
                        <li role="presentation">
                            <a href="https://dribbble.com/visualbam" target="_blank"><i class="fa fa-dribbble"></i></a>
                        </li>
                        <li role="presentation">
                            <a href="https://github.com/Visualbam" target="_blank"><i class="fa fa-github"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap-sass/assets/javascripts/bootstrap.min.js"></script>
    <script src="bower_components/moment/moment.js"></script>

    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-moment/angular-moment.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="bower_components/angular-lazy-img/release/angular-lazy-img.js"></script>

    <!-- core -->
    <script src="app/app.module.js"></script>
    <script src="app/shared/NavBarCtrl.js"></script>
    <script src="app/shared/ModalInstanceCtrl.js"></script>

    <!-- features -->
    <script src="app/home/HomeCtrl.js"></script>
    <script src="app/home/detailRepo.js"></script>

    <script src="app/resume/ResumeCtrl.js"></script>
    <script src="app/resume/positionRepo.js"></script>

    <script src="app/portfolio/PortfolioCtrl.js"></script>
    <script src="app/portfolio/projectRepo.js"></script>

</body>

</html>