<div class="resume">

    <section class="positions">
        <div class="row">
            <div class="col-xs-12 col-md-8 col-md-offset-2">
                <h1>Work Experience</h1>
                <div class="card" ng-repeat="position in vm.positions">
                    <header>
                        <div class="company">
                            <h3>{{position.company}}</h3>
                            <span>{{position.location}}</span>
                        </div>
                        <div class="img-container">
                            <img ng-src="{{position.logo}}" alt="text">
                        </div>
                    </header>
                    <div class="content">
                        <h4>{{position.title}}</h4>
                        <ul>
                            <li ng-repeat="detail in position.responsibilities">{{detail}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>