.home {
    .intro {
        background: $lightnavy;
        position: relative;
        margin-top: 12rem;
        padding: 2rem;
        padding-top: 10rem;
    }

    .about {
        text-align: center;
        max-width: 525px;
        margin: 0 auto;

        img {
            border: 1rem solid $navy;
        }

    }

    .details {
        margin: 10rem 0;
    }

    .social {
        display: flex;
        font-size: 3rem;
        margin: 0 auto;
        justify-content: center;

        a {
            color: $secondary;
        }
    }

    .img-container {
        position: absolute;
        top: -87.5px;
        left: 0;
        right: 0;
        margin: auto;
        width: 175px;
    }

    .card {
        position: relative;

        p {
            position: relative;
            z-index: 1;
        }

        img {
            position: absolute;
            right: 2.5rem;
            top: 2.5rem;
            width: 75px;
        }
    }

}