.modal-backdrop {
    background: $lightnavy;
    opacity: 0.95!important;
}

.modal-content {
    box-shadow: none;
    border: none;
    background: none;

    .modal-header {
        border: none;
    }

    .modal-body {
        background: white;
        border-radius: 1rem;
    }
}

.modal-dialog {
    margin: 40px auto;

    @media (min-width: $screen-sm-min) {
        min-width: 800px!important;
    }

    h3 {
        width: 250px;

        @media (min-width: $screen-sm-min) {
            width: 100%;
        }
    }

    .project {
        .image img {
            width: 100%;
        }
    }

    .close {
        position: absolute;
        top: 20px;
        right: 15px;
        color: white;
        font-size: 3rem;
    }
}