.modal-backdrop {
    background: $lightnavy;
    opacity: 0.95!important;
}

.modal-content {
    box-shadow: none;
    border: none;
    background: none;

    .modal-header {
        border: none;
    }

    .modal-body {
        background: white;
        border-radius: 10px;
    }
}

.modal-dialog {
    max-width: 800px;
    margin: 120px auto;

    .project {
        .image img {
            max-width: 800px;
        }
    }
}