.navbar-nav {
    margin: 18.5px -15px 0;

    @media (min-width: $screen-sm-min) {
        margin: 0;
    }
}

.navbar-default .navbar-nav >
.active > a,
.navbar-default
.navbar-nav >
.active > a:hover,
.navbar-default
.navbar-nav >
.active > a:focus {
    color: $primary;
    background: white;
}

.navbar.navbar-default {
    min-height: 85px;
    padding-top: 2rem;
    background: $purple url('../public/img/header-background.svg');
    background-repeat: no-repeat;
    background-size: cover;
    border: none;

    img {
        width: 125px;
        margin: 0 1.75rem;

        @media (min-width: $screen-sm-min) {
            margin: 0;
        }
    }

    li {
        &.active a {
            color: $primary;
            background: white;
        }

        a {
            color: white;
            padding: 2rem;
            text-align: center;
            text-transform: uppercase;
            font-weight: bold;

            &:hover {
                color: white;
                background: $primary;

                @media (min-width: $screen-sm-min) {
                    background: white;
                    color: $primary;
                }
            }

            @media (min-width: $screen-sm-min) {
                border: 3px solid white;
                border-radius: 5px;
                margin-left: 2.5rem;
                padding: 1rem 3rem;
            }
        }
    }

    .navbar-collapse {
        border: none;
    }

    .navbar-toggle {
        border: none;
        background: none;

        &:hover {
            background: $primary;
        }
    }

    .icon-bar {
        background-color: white;
        height: 3.25px;
        width: 3rem;

        & +.icon-bar {
            margin-top: 4.5px;
        }
    }
}