.portfolio {
    padding-top: 1rem;

    .item-wrapper {
        background: $lightnavy;
        height: 250px;
        margin-bottom: 2.5rem;
        transition: all .25s ease-in-out;

        &:hover {
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.22), 0 14px 56px rgba(0, 0, 0, 0.25);
        }

        .image {
            overflow: hidden;
            height: 100%;
        }
    }

}