.resume {
    .positions {
        header {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row-reverse;
            justify-content: flex-end;
        }

        .company {
            h3 {
                color: $primary;
                margin: 0 0 0.5rem;
            }

            span {
                color: white;
            }
        }

        .img-container {
            width: 5rem;
            height: 5rem;
            border-radius: 5px;
            background: gray;
            margin-right: 2rem;
            padding: 0.5rem;
        }

        .card {
            margin: 5rem 0;

            ul {
                list-style-type: none;
                padding: 0;
                color: $slate;
            }

            ul li {
                margin: 1rem 0;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}