@import '../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss';
@import '_variables';

@import 'partials/_navbar';
@import 'partials/_footer';
@import 'partials/_modal';
@import 'partials/_home';
@import 'partials/_resume';
@import 'partials/_portfolio';

body {
    background: $navy;
}

h1, h2, h3, h4, h5, h6 {
    color: white;
    font-weight: 400;
}

p {
    color: $slate;
    font-size: 1.8rem;
    line-height: 1.5;
}

img {
    width: 100%;

    &.circle {
        border-radius: 50%;
    }
}

.primary-text {
    color: $primary;
}

.card .content {
    background: $lightnavy;
    padding: 2rem;
    border-top: 1px solid $primary;
    margin: 2rem 0;
}

.nav > li > a:hover, .nav > li > a:focus {
    background: inherit;
}